.movieDetails{
  display:inline-block;
  border:5px solid yellowgreen;
  border-radius: 2rem;
  margin:0.2rem;
  
}

img{
  width: 200px;
  height:200px;
  margin:0.5rem;
  border-radius: 0.5rem;
  
}


table,tr{
  margin:0.5rem;
  width:200px;
  height:auto;
}
table,tr,td{
  border: 1px solid black;
  border-collapse: collapse;
  border-color:crimson;

}

